
# Dependencies
node_modules/

# builds
dist/
build/

# environment files
.env
.env.test
.env.production
*.db
*.sqlite

## vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
